<div class="p-4 rounded-xl bg-white border border-gray-200 shadow-sm">
    <div class="flex items-center justify-between">

        <h1
            class="text-3xl font-bold after:content-[''] after:w-16 after:h-1 after:bg-red-500 after:rounded-md after:block after:mt-2">
            {{name|upper}}
        </h1>
        <span class="text-bold text-gray-600 text-xl">Semester II</span>
    </div>
    <p class="text-gray-500 mt-2">{{reg_number|default:'reg_number_placeholder'}}</p>
</div>