{% load static %}

<aside
    class="flex-col hidden md:flex w-64 lg:w-72 h-screen pl-5 py-8 overflow-hidden overflow-y-auto bg-white border-r rtl:border-r-0 rtl:border-l">
    <div class="flex flex-col justify-evenly flex-1 mt-6">
        <img src="{% static 'images/mchs_logo.png' %}" alt="mchs logo" class="w-24 mx-auto">
        <nav class="-mx-3 space-y-3 mt-6">
            <a class="flex items-center p-3 text-gray-600 transition-colors duration-300 transform rounded-l-full text-red-50 bg-red-500"
                href="#">
                <span class="material-symbols-rounded">
                    home
                </span>

                <span class="mx-2 text-sm font-medium">Dashboard</span>
            </a>

            <a class="flex items-center p-3 text-gray-600 transition-colors duration-300 transform rounded-l-full hover:bg-red-100 hover:text-red-500"
                href="#">
                <span class="material-symbols-rounded">
                    book
                </span>

                <span class="mx-2 text-sm font-medium">Courses</span>
            </a>

            <a class="flex items-center p-3 text-gray-600 transition-colors duration-300 transform rounded-l-full hover:bg-red-100 hover:text-red-500"
                href="#">
                <span class="material-symbols-rounded">
                    monitoring
                </span>

                <span class="mx-2 text-sm font-medium">Results</span>
            </a>

            <a class="flex items-center p-3 text-gray-600 transition-colors duration-300 transform rounded-l-full hover:bg-red-100 hover:text-red-500"
                href="#">
                <span class="material-symbols-rounded">
                    person
                </span>

                <span class="mx-2 text-sm font-medium">Profile</span>
            </a>

            <a class="flex items-center p-3 text-gray-600 transition-colors duration-300 transform rounded-l-full hover:bg-red-100 hover:text-red-500"
                href="#">
                <span class="material-symbols-rounded">
                    payments
                </span>

                <span class="mx-2 text-sm font-medium">Finance</span>
            </a>
        </nav>
    </div>
</aside>